allow bluetooth bluetooth_device:chr_file { open write };
allow bluetooth proc_bluetooth_writable:dir search;
allow bluetooth wifi_data_file:file { open read };
