allow location system_server:binder { call transfer };
allow location system_data_file:dir { write add_name remove_name };
allow location system_data_file:fifo_file  { create setattr read write unlink };
