type macloader, domain;
type macloader_exec, exec_type, file_type;
init_daemon_domain(macloader)

allow macloader efs_file:dir search;
allow macloader wifi_efs_file:dir search;

allow macloader wifi_efs_file:file { read open getattr };