# Qcom init scripts

allow rootfs shell_exec:file rx_file_perms;
allow init_shell ctl_default_prop:property_service set;
allow init_shell default_prop:property_service set;
allow init_shell graphics_device:dir w_dir_perms;
allow init_shell graphics_device:lnk_file create_file_perms;
allow init_shell radio_efs_file:dir r_dir_perms;
allow init_shell radio_efs_file:file x_file_perms;
allow init_shell rootfs:file r_file_perms;
allow init_shell self:capability { fowner chown fsetid };
allow init_shell sysfs:file create_file_perms;
allow init_shell system_prop:property_service set;
allow init_shell tmpfs:chr_file r_file_perms;
allow init_shell system_file:lnk_file getattr;
allow init_shell tmpfs:chr_file w_file_perms;
