allow system_server sysfs_vibeamp:dir search;
allow system_server sysfs_vibeamp:file { getattr open read write };
allow system_server sysfs_display:file rw_file_perms;
allow system_server sysfs_thermal:dir search;
allow system_server sysfs_thermal:file { open read write };
allow system_server efs_file:dir search;
allow system_server sensors_efs_file:file { open read write };
allow system_server system_file:file execmod; # for libsensirion_h_2.so
allow system_server wifi_efs_file:dir { search };
allow system_server wifi_efs_file:file { open read };
