allow ueventd sysfs_camera:file { open read write };
allow ueventd sysfs_vibeamp:file { open read write };
allow ueventd vfat:dir search;
allow ueventd vfat:file { getattr open read };