allow hal_sensors_default sensors_efs_file:file rw_file_perms;

# /system/vendor/lib/libsensirion_h_2.so
allow hal_sensors_default vendor_sensor_lib_file:file execmod;
